html * {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Put the wrapper behind the cards */
  overflow: hidden; /* Hide any overflowing parts of the background image */
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("starlights.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  clip-path: inset(0); /* Crop off edges */
  -webkit-clip-path: inset(0);
  z-index: -1; /* Put the background behind the cards */
}

.top-bar {
  background-color: #333; /* Set the background color to a solid color (e.g., dark gray) */
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2vw;
}


.hometitle {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.name {
  position: absolute;
  text-align: center;
  top: 14rem;
  width: 100vw;
  font-size: 9rem;
}

.description {
  position: absolute;
  top: 32rem;
  left: 10%;
  right: 10%;
  text-align: center;
  font-size: 2rem;
}

.disclaimer {
  position: absolute;
  top: 42rem;
  left: 2%;
  right: 2%;
  text-align: right;
  font-size: 1.2rem;
}