html * {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif
}

body {
  margin: 0;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Put the wrapper behind the cards */
  overflow: hidden; /* Hide any overflowing parts of the background image */
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("starlights.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  clip-path: inset(0); /* Crop off edges */
  -webkit-clip-path: inset(0);
  z-index: -1; /* Put the background behind the cards */
}

.top-bar-item {
  display: inline-block; /* or use 'block' if you want the link to take up the whole line */
  padding: 10px 20px;
  background-color: transparent; /* Set the background color to transparent */
  color: #007bff; /* Change text color to your desired link color */
  text-decoration: none; /* Remove underline by default */
  border: 2px solid #007bff; /* Add a border to make the link visible */
  border-radius: 5px; /* Rounded corners */
}

.top-bar {
  background-color: #333; /* Set the background color to a solid color (e.g., dark gray) */
  display: flex;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}



.hometitle {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.name {
  position: absolute;
  text-align: center;
  top: 10vw;
  width: 100vw;
  font-size: 7rem;
}

.description {
  position: absolute;
  top: 26vw;
  left: 10%;
  right: 10%;
  text-align: center;
  font-size: 2rem;
}

.disclaimer {
  position: absolute;
  top: 35vw;
  left: 2%;
  right: 2%;
  text-align: right;
  font-size: 1.2rem;
}

.contentcard {
  background-color: #fff; /* Set the background color to a solid color (e.g., dark gray) */
  display: flex;
  color: #333;
  width: 100%;
  padding: 250px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  margin: 0;
}